@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');


#title {
  background-color: #ff4c68;

}

.desc {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}